<div class="container">
  <div class="py-5 text-center">
    <h2>Login</h2>
  </div>

  <form role="form" (submit)="login()">
    <div class="form-group">
      <label for="username">Username:</label> <input type="text"
                                                     class="form-control" id="username" name="username"
                                                     [(ngModel)]="credentials.username" #username="ngModel" required/>
    </div>
    <div *ngIf="username.invalid && (username.dirty || username.touched)"
         class="small alert alert-danger">
      Username is required.
    </div>


    <div class="form-group">
      <label for="password">Password:</label> <input type="password"
                                                     class="form-control" id="password" name="password"
                                                     [(ngModel)]="credentials.password" #password="ngModel" required/>
    </div>
    <div *ngIf="password.invalid && (password.dirty || password.touched)"
         class="small alert alert-danger">
      Password is required.
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

</div>
